html {
    font-size: 20px;
    font-family: Special Gothic Expanded One;
}

body {
    border: 0;
    margin: 0;
    min-width: 570px;
    background-color: #C3D4C5;
    scroll-behavior: smooth; /* todo не работает */
    color: #244B5B;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    align-items: center;
    justify-content: left;
    display: flex;
    height: 200px;
    background-image: url(../img/pattern-hexes-of-cubes_1_1.svg);
}
    .header-text {
        background-color: #C3D4C5;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        padding-left: 20px;
        color: #244B5B;
        font-weight: bold;
        height: 100%;
        align-content: center;
        font-size: 50px;
    }

li, p {
    display: inline-block;
    font-family: Calibri, sans-serif;
    letter-spacing: 1px;
}
.menu{
    text-align: center;
    margin: 15px auto 15px;
    padding: 0;
    width: 100%;
}
    .menu-item, .menu-item a {
        cursor: pointer;
        user-select: none;
        margin-right: 10px;
        color: #244B5B;
        font-style: italic;
        font-weight: bold;
        text-shadow: 0 0 17px #000000;
        transition: color .2s;
    }
    .menu-item:hover,
    .menu-item a:hover {
        color: #C3D4C5;
        text-shadow: 0 0 10px #244B5B;
    }
    .menu-item-selected {
        color: rgba(0, 243, 255, 0.6) !important;
        text-shadow: 0 0 10px #ff8900 !important;
    }
.big_text {
    width: 800px;
    text-align: left;
    margin: 0 auto;
}
    .big_text p {
        scroll-margin: 15px;
    }
#to_top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #244B5B;
    mask-image: url("../img/cube.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    color: #244B5B;
    width: 90px;
    height: 90px;
    transition: color .2s;
}
    #to_top p {
        position: absolute;
        margin: 0;
        transition: color .2s;
    }
    #to_top .top{
        top: 9px;
        left: 30px;
    }
    #to_top .left{
        top: 40px;
        left: 12px;
        transform: rotateZ(45deg);
    }
    #to_top .right{
        top: 40px;
        right: 12px;
        transform: rotateZ(-45deg);
    }
    #to_top p:hover {
        color: #C3D4C5;
    }
    #to_top:active {
        color: #C3D4C5;
        transition: color .4s;
    }