html {
    font-size: 20px;
    font-family: Special Gothic Expanded One;
}

body {
    border: 0;
    margin: 0;
    min-width: 570px;
    background-color: #272727;
    scroll-behavior: smooth; /* todo не работает */
    color: #bdbdbd;
}
a {
    text-decoration: none;
}
.nav-menu-item a{
    color: #bdbdbd;
}
.header {
    position: relative;
    width: 100%;
    height: 200px;
}
    .header-text {
        position: absolute;
        color: rgba(255, 255, 255, 0.57);
        margin: 0;
        word-break: break-word;
    }
    .header-img {
        padding: 0;
        width: 100%;
        height: 100%;
        /*min-width: 570px;*/
    }
li, p {
    display: inline-block;
    font-family: Calibri, sans-serif;
    letter-spacing: 1px;
}
.menu{
    text-align: center;
    margin: 15px auto 15px;
    padding: 0;
    width: 800px;
}
    .menu-item, .menu-item a {
        cursor: pointer;
        user-select: none;
        margin-right: 10px;
        color: rgba(255, 255, 255, 0.37);
        font-style: italic;
        font-weight: bold;
        text-shadow: 0 0 17px #000000;
    }
    .menu-item:hover,
    .menu-item a:hover {
        color: rgba(255, 137, 0, 0.6);
        text-shadow: 0 0 10px #00f3ff;
    }
    .menu-item-selected {
        color: rgba(0, 243, 255, 0.6) !important;
        text-shadow: 0 0 10px #ff8900 !important;
    }
.big_text {
    width: 800px;
    text-align: left;
    margin: 0 auto;
}
    .big_text p {
        scroll-margin: 15px;
    }
#to_top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.33);
    color: aqua;
    border-radius: 85%;
    width: 85px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}